<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="testScript.BaseTest"/>
      <class name="testScript.CreateAccountsScript"/>
      <class name="testScript.RandomScenariosScript"/>
      <class name="testScript.ContactsScript"/>
      <class name="testScript.LeadsScript"/>
      <class name="testScript.UserMenuScript"/>
      <class name="testScript.createOptuntyScript"/>
      <class name="testScript.LoginPageScript"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
